html {
    display: flex;
    justify-content: center;
}

body {
    width: 70%;
    background-color: #1f2937;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: gray;
}

/* a {
    text-decoration: none;
    color: white;
} */

.white-font {
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.sign-up-promotion {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    flex: 1;
}

.btn {
    background-color: #3882f6;
    width: fit-content;
    padding: 5px;
}

.gap {
    height: 2rem;
}

.links {
    display: flex;
    gap: 0.5rem;
}

.body-first-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    flex: 1;
    text-align: center;
    background-color: gray;
}